*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.hero__imaging {
  width: 400px;
  /* height: 100%; */
  object-fit: cover;
  margin-bottom: 50px;
}

.hero__img-list {
  transition: all 0.4s ease-out;
  transform: translateX(0);

}
.hero__image {
  /* height: calc(100vh - 200px); */
  /* max-height: 350px; */
  width: 400px;
  overflow: hidden;
}

.hero__full {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #fff;
  padding-right: 50px;
  filter: drop-shadow(0 2px 2px #1a1a1a);
  transition: all 0.3s ease;
}
.hero__full:hover {
  color: #337ab7;
}
.exit:hover {
  color: #337ab7;
}

.exit {
  position: relative;
  left: 1400px;
  bottom: 100px;
  border: none;
  background-color: transparent;
  font-size: 35px;
  color: #fff;
  filter: drop-shadow(0 2px 2px #1a1a1a);
  transition: all 0.3s ease;
}

.hero__slide {
  border: none;
  background-color: transparent;
  border: 3px solid transparent;
  transition: all 0.4s ease;
  border-radius: 8px;
  margin-right: 5px;
  padding: 2px;
}

.hero__slide:hover {
  border: 3px solid #1d1d1d;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 2px;
}

.aktive {
  border: 3px solid #1d1d1d;
  border-radius: 8px;
  padding: 2px;
}

.slide__img {
  width: 88px;
  height: 88px;
  object-fit: cover;
  margin-right: 10px;
}

.hero__title {
  font-size: 48px;
  color: #1d1d1d;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 10px;
}

.bx-link-external {
  font-size: 25px;
  position: relative;
  top: 15px;
}

.hero__ram {
  display: inline-block;
  font-style: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin: 30px 0 10px;
}

.ram__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: 55px;
  border-radius: 12px;
  border: 1px solid #888;
  transition: 0.3s;
  margin-right: 20px;
  background-color: transparent;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#memory-third {
  display: none;
}

.hero__ram-title {
  padding: 0;
  margin: 0;

}
.active {
  border: 1px solid #06c;
  box-shadow: 0 0 1px 1px #06c;
}

.hero__circle {
  width: 280px;
  height: 72px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #888;
  transition: 0.3s;
  margin-right: 20px;
  background-color: transparent;
  text-transform: uppercase;
}
.golds {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #D29D00;
}
.silvers {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: silver;
}
.grays {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
}

.add__btn {
  width: 60px;
  height: 40px;
  font-weight: 600;
  border: 1px solid #d8d8d8;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.add__input {
  width: 80px;
  height: 40px;
  text-align: center;
  border: 1px solid #d8d8d8;
}
.add__input:focus {
  outline: none;
}
.left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.price__old {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  text-decoration: line-through;
}

.box__btn {
  color: #fff;
  background: #06c;
  border: none;
  height: 48px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  transition: all 0.4s ease;
}
.box__btn:hover {
  background: #0059b3;
}
.box__next {
  color: #06c;
  background: #f5f5f7;
  border: none;
  height: 48px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
}
.product {
  margin: 60px 0;
  overflow: hidden;
  position: relative;
}

.product__title {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 50px;
}

.product__list {
  transform: translateX(0);
  transition: all 0.4s ease;
}

.product__item {
  text-align: center;
}
.product__img {
  width: 380px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 20px;
}
.product__name {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #1d1d1d;
  transition: all 0.3s ease;
}
.product__name:hover {
  color: #0059b3;
}
.product__price {
  display: block;
  margin-top: 8px;
  font-size: 17px;
  line-height: 26px;
  color: #333;
}

.lefting {
  position: absolute;
  top: 50%;
  left: 0;
}
#left {
  display: none;
}
.righting {
  position: absolute;
  top: 50%;
  right: 0;
}
.ikon {
  border: none;
  color: #8a8a8a;
  background: #ececec;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.info {
  margin-top: 60px;
}
.info__inner {
  width: 100%;
  height: 52px;
  padding: 4px;
  margin-bottom: 40px;
  border-radius: 6px;
  background-color: #f5f5f7;
  display: flex;
  position: relative;
}
.info__title {
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 28px;
  color: #1d1d1d;
  opacity: 0.7;
  width: 100%;
  z-index: 100;
}
.opasity {
  opacity: 1;
}
p {
  margin: 0;
  padding: 0;
}
.none {
  display: none;
}
.info__back {
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: translateX(0);
  width: 580px;
  height: 85%;
  background-color: #fff;
  border-radius: 8px;
}

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  border-top: 1px solid #d6d6d6;
}

.footer__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__link {
  font-size: 15px;
  line-height: 18px;
  color: #515154;
  transition: all 0.4s ease;
}
.footer__link:hover {
  color: #1d1d1d;
}
.icons {
  margin-right: 8px;
  font-size: 25px;
  color: #515154;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.icons:hover {
  color: #1d1d1f;
  fill: #1d1d1f;
}

.help__btn {
  font-weight: 600;
  background: #1d1d1d;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #c5c5c5;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.first {
  width: 260px;
}
.second {
  width: 230px;
}
.third {
  width: 200px;
}

.four {
  width: 170px;
}
.help-ikon {  
  font-size: 28px;
}
.five {
  justify-content: center;
}
.bx-chevron-up {
  font-size: 28px;
}
.help__item {
  margin-bottom: 10px;
}

.help {
  position: fixed;
  right: 20px;
  bottom: 0;
}
.help__box {
  display: none;
  align-items: flex-end;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .hero__main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__imaging {
    width: 100%;
  }
}

